@if (!config) { <div class="loading-center"><mat-spinner /></div> }
@if (config) {
  <div class="lighting-page">
    <mat-toolbar>
      <button mat-icon-button (click)="goBack()" aria-label="Back"><mat-icon>arrow_back</mat-icon></button>
      <span>Lighting</span>
    </mat-toolbar>
    <div class="lighting-body">
      <mat-card>
        <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mode</mat-label>
            <mat-select [(ngModel)]="config.lightingMode">
              <mat-option value="ALL_COLOR">All Color</mat-option>
              <mat-option value="ALL_RAINBOW">Rainbow</mat-option>
              <mat-option value="ALL_WAVE">Wave</mat-option>
              <mat-option value="ALL_BREATH">Breath</mat-option>
              <mat-option value="SINGLE_COLOR">Per-control Colors</mat-option>
              <mat-option value="CUSTOM">Custom</mat-option>
            </mat-select>
          </mat-form-field>
          @if (config.lightingMode === 'ALL_COLOR') {
            <div class="color-row"><label>Color</label><input type="color" [(ngModel)]="config.allColor" /><span>{{ config.allColor }}</span></div>
          }
          @if (config.lightingMode === 'ALL_RAINBOW') {
            <div class="slider-row"><label>Phase Shift</label><mat-slider min="0" max="255" class="flex-slider"><input matSliderThumb [(ngModel)]="config.rainbowPhaseShift" /></mat-slider><span>{{ config.rainbowPhaseShift }}</span></div>
            <div class="slider-row"><label>Brightness</label><mat-slider min="0" max="255" class="flex-slider"><input matSliderThumb [(ngModel)]="config.rainbowBrightness" /></mat-slider><span>{{ config.rainbowBrightness }}</span></div>
            <div class="slider-row"><label>Speed</label><mat-slider min="0" max="255" class="flex-slider"><input matSliderThumb [(ngModel)]="config.rainbowSpeed" /></mat-slider><span>{{ config.rainbowSpeed }}</span></div>
          }
          @if (config.lightingMode === 'ALL_BREATH') {
            <div class="slider-row"><label>Brightness</label><mat-slider min="0" max="255" class="flex-slider"><input matSliderThumb [(ngModel)]="config.breathBrightness" /></mat-slider><span>{{ config.breathBrightness }}</span></div>
            <div class="slider-row"><label>Speed</label><mat-slider min="0" max="255" class="flex-slider"><input matSliderThumb [(ngModel)]="config.breathSpeed" /></mat-slider><span>{{ config.breathSpeed }}</span></div>
          }
          <div class="slider-row"><label>Global Brightness</label><mat-slider min="0" max="100" class="flex-slider"><input matSliderThumb [(ngModel)]="config.globalBrightness" /></mat-slider><span>{{ config.globalBrightness }}%</span></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="save()">Save Lighting</button>
          <button mat-stroked-button (click)="goBack()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
}
