<div>
  Device:
  <mat-radio-group [(ngModel)]="specificDevice" (change)="changeDefault($event)">
    <mat-radio-button [value]="false">Default device</mat-radio-button>
    <mat-radio-button [value]="true">Specific device</mat-radio-button>
  </mat-radio-group>

  @if (specificDevice()) {
    <mat-form-field>
      <mat-label>Device</mat-label>
      <mat-select [formField]="field().deviceId">
        @for (device of devicesService.devices.value(); track device.id) {
          <mat-option [value]="device.id">{{ device.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>

<div>
  <mat-checkbox [formField]="field().unMuteOnVolumeChange">Unmute on volume change</mat-checkbox>
</div>
