<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <mat-tab-group>
    @if (form.button) {
      <mat-tab label="Click">
        <app-commands type="button" [commands]="form.button"/>
      </mat-tab>
    }
    @if (form.dblButton) {
      <mat-tab label="Double click">
        <app-commands type="button" [commands]="form.dblButton"/>
      </mat-tab>
    }
    @if (form.analog) {
      <mat-tab label="Dial/Slider">
        <app-commands type="dial" [commands]="form.analog"/>
      </mat-tab>
    }
    @if (form.knobSetting) {
      <mat-tab label="Settings">
        Dial settings:
        <mat-checkbox [formField]="form.knobSetting.logarithmic">Logarithmic scaling</mat-checkbox>

        <hr>

        <mat-form-field>
          <mat-label>Trim min</mat-label>
          <input matInput type="number" [formField]="form.knobSetting.minTrim"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Trim max</mat-label>
          <input matInput type="number" [formField]="form.knobSetting.maxTrim"/>
        </mat-form-field>

        <hr>

        <mat-form-field>
          <mat-label>Overlay icon</mat-label>
          <input matInput [formField]="form.knobSetting.overlayIcon"/>
        </mat-form-field>
      </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</mat-dialog-actions>
