<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <mat-tab-group>
    @if (form.button) {
      <mat-tab label="Click">
        <app-commands type="button" [commands]="form.button"/>
      </mat-tab>
    }
    @if (form.dblButton) {
      <mat-tab label="Double click">
        <app-commands type="button" [commands]="form.dblButton"/>
      </mat-tab>
    }
    @if (form.analog) {
      <mat-tab label="Dial/Slider">
        <app-commands type="dial" [commands]="form.analog"/>
      </mat-tab>
    }
    <mat-tab label="Settings">
      Settings
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</mat-dialog-actions>
