.root {
    -fx-font-family: Roboto;
    -fx-base: #25262A;
    -fx-accent: #e7eff7;
    -fx-default-button: #7f878f;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-focused-text-base-color: ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color: -fx-focused-text-base-color;

}

.text-field {
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;

}


@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.ttf');
}

.text-input {
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 15;
    -fx-text-inner-color: white;
    fx-prompt-text-fill: white, 60%;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
            -fx-highlight-fill,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}


.list-cell:odd {
    -fx-background-color: #25262A;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #1C1D20;
    -fx-text-fill: white;
}

.list-cell:disabled {
    -fx-text-fill: gray;
}

.list-cell:focused {
    -fx-background-color: #004f8b;
    -fx-text-fill: white;
}

.list-view {
    -fx-focus-color: transparent;
}

.choice-box .context-menu {
    -fx-background-color: #25262A;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.separator *.line {
    -fx-border-color: #898989;
}


